<div class='page-body'>
    <p>Courtesy Microverse Created By ERI <%=
      link_to 'curriculum', 'https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication'
      %>. View on <%=
      link_to 'Github', 'https://github.com/errea/member_only-rails_app/tree/feature/member' %>.</p>
    <p>Do great, go the extra mile.</p>
  </div>